/* src/index.css */
:root {
    font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --primary-blue: #0057FF;
    --dark-navy: #0F172A;
    --slate-gray: #64748B;
    --background-color: #F1F5F9;
    --white: #FFFFFF;
    --border-color: #E2E8F0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
}